# Ignore the output directory
/public/

# Ignore posts.yml, which is used for intermediate data storage.
/posts.yml

# Ignore the root Gemfile - it's a symlink to the submodule. Don't ask.
/Gemfile
/Gemfile.lock